parameters:
    level: 1
    paths:
        - src
    excludePaths:
        - vendor
        - tests
        - bin
        - config
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Access to undefined constant.*FileType::#'
        - '#Access to undefined constant.*FileCategory::#'