includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
    excludePaths:
        - vendor
        - tests
        - bin
        - config
    ignoreErrors:
        - '#Cannot cast mixed to string#'
        - '#Call to function is_array\(\) with array will always evaluate to true#'
        - '#Call to function is_string\(\) with string will always evaluate to true#'
        - '#Cannot access offset.*on mixed#'