parameters:
    level: max
    paths:
        - src
    excludePaths:
        - vendor
        - tests
        - bin
        - config
        - src/Entities
        - src/Services
    ignoreErrors:
        - '#Access to undefined constant.*FileType::#'
        - '#Access to undefined constant.*FileCategory::#'